
body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    font-family: Arial, sans-serif;
    color: white;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -3;
    overflow: hidden;
}

.video-background iframe {
    width: 100%;
    height: 100%;
}

canvas#wave-canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100vw;
    height: 100vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    background: transparent;
}

.logo {
    height: 40px;
}

.menu-btn {
    font-size: 30px;
    cursor: pointer;
}

nav {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #ccc;
    padding: 15px;
    border-radius: 5px;
}

nav.hidden {
    display: none;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
    text-align: center;
    padding: 20px;
    background-color: rgba(0,0,0,0.5);
}
